*.iml
*.swp
.cache
.classpath
.DS_Store
.idea
.lib
.project
\.idea/workspace.xml
atlassian-ide-plugin.xml
casbah-dynamic/project/boot
casbah-dynamic/project/plugins/project
java_pid*.hprof
lib_managed/
project/boot/
project/plugins/project
reports/
src_managed/
tags
target/
tutorial_src/build
